@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Mulish:wght@300;400;500;600;700&display=swap');

input:focus{
    outline: none;
}
.m-header-container{
    display: grid;
    grid-template-columns: 31vw 20vw;
    font-family: 'Mulish',sans-serif;
    height:594px;
    margin-top: 0;
    padding-top: 0;
}

.m-header-left{
    margin-left: 6.8vw;
}

.m-header-left img{
    height: 400px;
    padding:20px 20px;
    border: 2px solid #DEDEDE;
    border-radius: 16px;
    box-sizing: border-box;
}

/* Batas Head Left */

.m-header-right{
    display: grid;
    grid-template-rows: auto auto;
    padding-left: 3vw;
    height: 18vw;
    width: 56vw;
}

.m-header-right hr{
    width: 105%;
}
.m-top-container .m-title{
    font-weight: bold;
    font-size: 2vw;
    line-height: 2vw;
    letter-spacing: 1px;
    color: #14142B;
}
.m-top-container .m-title p{
    font-size: 0.7vw;
    line-height: 2vw;
    letter-spacing: 0.75px;
    color: #4E4B66;
}

.m-top-header{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 1.8vw;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.m-top-header-right{
    width: 50%;
}
.m-detil .m-date{
    padding-top: 1vw;
}

.m-top-header .m-date{
    font-size: 1vw;
    letter-spacing: 0.75px;
    color: #8692A6;
}

.m-top-header .m-duration{
    font-size: 1.2vw;
    color: #121212;
    margin-top: 0;
    padding-top: 0;
}

.m-bot-container .m-synopsis{
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 2vw;
    letter-spacing: 0.5px;
    color: #000000;
}

.m-bot-container p{
    font-size: 1vw;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #4E4B66;
    
}

.m-main-container{
    height: 90vw;
    width: 98.72vw;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.75px;
    color: #6E7191;
    background: #F5F6F8;
}

.m-main-title{
    padding-top: 5vw;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: #14142B;
    text-align: center;
}

.m-main-data-order{
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
}

.m-order-date{
    display: flex;
    justify-content: space-evenly;
    background: #EFF0F6;
    border-radius: 6px;
    margin: 1vw;
    padding: 3px;
    text-align: center;
}

.m-order-date .location{
    display: flex;
    padding: 5px 20px;
}

.m-order-date .item{
    margin-top: 6px;
    margin-left: 3px;
}

.m-menu{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    width: 88.2%;
    margin-left: 80px;
    margin-right: 80px;
}

.m-card{
    width:27.8vw; 
    height: 27vw;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 32px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
    border-radius: 8px;
}

.m-card-head{
    display: grid;
    grid-template-columns: 52% 48%;
    margin: 0;
    padding: 0;
    height: 9.3vw;
    border-bottom: 0.5px solid #DEDEDE; 
}

.m-card-head img{
    margin: auto;
}

.m-card-head .m-profile {
    margin-top: 24px;
    padding-right: 24px;
}

.m-card-head .m-instansi{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #000000;
}

.m-card .m-time{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.m-time p:focus{
    border:1px blue solid;
    color :blue;
}

.m-time button{
    background:transparent;
    margin:0;
    padding:0px;
    width:2x;
    height:20px;
}

.m-card .m-time p {
    padding-left: 16px;
    padding-top: 8px;
}
.m-card .m-time p:hover {
    color: blue;
}

.m-card .m-time p:focus {
    color:red;
    border:1px;
    background:blue;
}
.m-card .m-price{
    margin-top: 24px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.m-card .m-price .m-p1{
    font-size: 16px;
    padding-left: 32px;
}
.m-card .m-price .m-p2{
    font-weight: 600;
    font-size: 16px;
    margin-left: auto;
    padding-right: 24px;
    letter-spacing: 0.75px;
    color: #000000;
}

.m-card .m-main-action{
    display: grid;
    grid-template-columns: 50% 50%;
}

.m-card .m-main-action .m-btn{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: white;
    height: 40px;

}
.m-card .m-main-action .m-btn p{
    color: white;;
    background-color: #5F2EEA;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
}

.m-btn  button {
    border: none;
    
}



.m-card .m-main-action .m-add{
    font-size: 14px;
    letter-spacing: 0.75px;
    text-align: right;
    margin-right: 24px;
    margin-top: auto;
    color: #5F2EEA;
}
.m-card .m-main-action div{
    text-align: left;
    margin-left: 24px;
    margin-top: 32px;

}

.m-line{
    display:flex; 
    justify-content: space-evenly; 
    margin-top: 4vw;
}

.m-line a {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #5F2EEA;
}


hr{
    margin-top: 1.1vw;
    width: 34%;
}

@media only screen and (max-width: 600px) {
    .m-header-container{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        font-family: 'Mulish',sans-serif;
        height:auto;
        margin-top: 0;
        padding-top: 0;
    }
    .m-header-left img{
        /* width: 85%; */
        /* padding:20px 20px;    */
        border: 2px solid #DEDEDE;
        border-radius: 16px;
        box-sizing: border-box;
        margin-right: auto;
        margin-left: auto;
    }
    .m-header-left{
        margin-left: auto;
        margin-right: auto;
    }
    .m-header-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        height: auto;
        width: auto;
    }
    .m-top-container .m-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.75px;
    }
    .m-bot-container .m-genre{
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0.75px;
        color: #4E4B66;
        margin-left: auto;
        margin-right: auto;
    }
    .m-top-container{
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }
    .m-main-container{
        height: auto;
        width: 100vw;
        font-family: 'Mulish', sans-serif;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: 0.75px;
        color: #6E7191;
        background: #F5F6F8;
    }
    .m-menu{
        justify-content: center;
        display: flex !important;
        flex-direction: column;
        width: 100%;
        /* grid-template-columns: 100%; */
        height: auto;   
        margin-left: auto;
        margin-right: auto;
        /* width: 88.2%; */
        /* margin-left: 80px; */
        /* margin-right: 80px; */
    }
    .m-card{
        width:90%; 
        height: 110%;
        border-radius: 8px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
        border-radius: 8px;
    }
    .m-card-head{
        display: grid;
        grid-template-columns: 52% 48%;
        margin: 0;
        padding: 0;
        height: 100%;
        border-bottom: 0.5px solid #DEDEDE; 
    }
    .m-top-header{
        display: flex;
        justify-content: space-between;
        margin-top: 1.8vw;
    }
    .m-top-header .m-date{
        font-weight: normal;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.75px;
        color: #8692A6;
        margin-bottom: 0;
    }
    .m-top-header .m-duration{
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
        color: #121212;
    }
    .m-header-right hr{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        color: #D6D8E7;
    }
    .m-bot-container{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
    .m-bot-container .m-synopsis{
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
        color: #14142B;
    }
    .m-bot-container p{
        font-weight: normal;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.75px;
        color: #4E4B66;
    }
    .m-card .m-main-action .m-btn{

    }
    .m-card .m-main-action .m-add{
       margin-top: none;
    }
    .m-card .m-time p {
        padding-left: unset;
        padding-top: 8px;
    }
}