@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Mulish:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}
input:focus {
    outline: none;
}

.s-container{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.header-s {
    background-image: url('../../Group7.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    color: #FFFFFF;
    height: 1024px;
    width: 800px;
}

.s-header-s p {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 46px;
}

.s-image{
    background-image: url('../../Rectangle.png');
    text-align: center;
    height: 1024px;
    width: 800px;
    opacity: 1;
}

.s-logo {
    display: none;
    position: relative;
    bottom: 40px;
    margin: 0;
}
.s-content{
   padding-left: 150px;
    width: 500px;
    height: 190px;
    padding-top: 383px;
}

.s-line p{
    display: flex;
    justify-content: space-between;
    color: #AAAAAA;
}

.s-line hr{   
    color: #DEDEDE;
    width: 35%;
    height: 0%;
    margin-top: 7px;
}


.s-main-left{
    margin-top: 150px;
    padding-left: 83px ;
    margin-right: 83px;
}

.s-sign{
    font-size: 18px;
    letter-spacing: 0.007em;
    font-family: 'Inter' , sans-serif;
    /* margin-left: 60px; */
    color: #AAAAAA;
}

.s-sign p {
    padding-top: 12px;
}

.s-signin {
    line-height: 58px;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    color: #121212;
    font-size: 26px;
}

.s-form {
    padding-top: 49px;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    width: 100%;
    /* margin-left: 60px; */
}

.s-form p {
    line-height: 20px;
    color: #4E4B66;
    padding-bottom: 12px;
}


.s-form button{
    cursor: pointer;
}

.s-box{
    background: #FCFDFE;
/* Border and Line */
    height: 64px;
    width: 400px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 16px;
    padding-left: 24px;
    letter-spacing: 0.75px;
    line-height: 20px;
    font-size: 16px;
}

.s-pass{
    padding-top: 26px;
}
.s-eye{
    position: relative;
   top: -40px;
   right: -360px;
}
.s-eye1{
    position: relative;
    top: -44px;
    right: -342px;

}

.s-btn{
    margin-top:48px ;
    width: 400px;
    height: 64px;
    background: #5F2EEA;
    border-radius: 16px;
    border-style: none;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    color:  #F7F7FC;
}

.s-reset{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.005em;
    padding-top: 32px;
    text-align: center;
    color: #8692A6;
    padding-bottom: 48px;
}

.footer-s{
    display: flex;
    justify-content: space-around;
}

.s-line{
    text-align: center; 
    color: #AAAAAA; 
    letter-spacing: 0.005em; 
    font-size: 12px; 
    font-family: 'Inter',sans-serif;
}


.s-card{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    width: 182px;
    height: 64px;
    text-align: center;
    
}

.footer-s {
    padding-top: 48px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.005em;
}
.s-pl {
   padding-top: 21px;
   padding-left: 4px;
   color: #A0A3BD;
   

}

.footer-s a{
    /* display: inline-flex; */
    text-decoration: none;
}

.footer-s img {
    width:20px; height: 20px;
}

@media only screen and (max-width: 600px) {

    *{
        margin: 0;
        padding: 0;
    }

.header-s{
    display: none;
}

.s-container{
    /* width: 375px; */
    height: 812px;
    
}


    .s-image{
        display: none;
    }
    .s-main-left{
        /* padding-top:7px ; */
        margin-top: 50px;
        padding-left: 10px;
        margin-left: auto ;
        margin-right: auto;
    }

    .s-logo {
        display: flex;
        position: relative;
        bottom: 40px;
        margin: 0;
    }

    .s-sign{
        letter-spacing: 0.5%;
        font-family: 'Inter' , sans-serif;
        color: #AAAAAA;
        width: 100%;
    }
    .s-signin{
        font-size: 26px;
    }
    
    .s-p {
        display: none;
    }

    .s-box{
        background: #FCFDFE;
    /* Border and Line */
        height: 64px;
        width: 327px;
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 24px;
        letter-spacing: 0.75px;
        line-height: 20px;
        font-size: 16px;
    }

    .s-eye{
    display: none;
    }
    .s-eye1{
        display: none;
    }
    .s-btn{
        margin-top:48px ;
        width: 327px;
        height: 64px;
        background: #5F2EEA;
        border-radius: 4px;
        border-style: none;
        font-family: 'Mulish', sans-serif;
        font-size: 16px;
        color:  #F7F7FC;
    }
    .s-reset{
        font-family: 'Mulish',sans-serif;
        font-style: normal;
        font-size: 12px;
        font-weight: 500;
        line-height: 19.36px;
        letter-spacing: 0.5%;
        padding-top: 32px;
        color: #8692A6;
        padding-bottom: 48px;
    }

    .s-line{
        display: flex;
        justify-content: center;
        color: #AAAAAA;
    }

    .s-line hr{   
        color: #DEDEDE;
        width: 35%;
        height: 0%;
        margin-top: 7px;
    }
    
    .s-card{
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        width: 64px;
        height: 64px;
        text-align: center;
        
    }

    .s-card p {
        display: none;
    }
    .s-form {
        padding-top: 49px;
        font-family: 'Mulish', sans-serif;
        font-size: 16px;
        width: 100%;
        /* margin-left: 60px; */
    }

}